html,
body {
	min-height: 100%;
	/* height: 100%; */
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	color: rgb(62, 64, 66);
	font: inherit;
	vertical-align: baseline;
	font-family: 'Spoqa Han Sans', 'Sans-serif';
	overflow: auto;
}



h1,h2,h3,h4,h5,h6,
p,
ul {
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	border: 0;
	padding: 0;
	margin: 0;
	background: transparent;
	resize: none;
}
a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
}

button {
	font-family: inherit;
	font-size: 90%;
	margin: 0;
	cursor: pointer;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	font-family: 'Spoqa Han Sans', 'Sans-serif';
}