$mobile-contents-width: 640px; // 쪼그라들기 시작할 시점
@mixin scale($property, $px) {
  $w: 1px / $mobile-contents-width * 100;
  $pxs: null;
  $vws: null;
  // 여러 값에 대한 처리로 일반화
  @each $v in $px {
    // border: 1px solid black 같은 코드에서 숫자(1px)만 처리
    @if type-of($v) == 'number' {
      $px: $v / 1px;
      $pxs: append($pxs, if($px == 0, 0, $px + px));
      $vw: $px * $w;
      $vws: append($vws, if($vw == 0, 0, $vw + vw));
    } @else {
      $pxs: append($pxs, $v);
      $vws: append($vws, $v);
    }
  }
  #{$property}: $pxs;
  @media (max-width: $mobile-contents-width) {
    #{$property}: $vws;
  }
}
@mixin common-btn() {
	height: 35px;
	border: 1px solid $main-color;
	border-radius: 4px;
	color: #fff;
	background: $btn-purple;
	&:hover {
		color: $main-color;
		background: #fff;
  }
  &:disabled {
    border:none;
    background: $disabled-btn;
    &:hover {
      color: #fff;
    }
  }
}
@mixin grade-badge($color, $width) {
	width: $width;
  height: $width;
  margin-right: 15px;
	display: inline-block;
	top: 0;
  transition: all 0.2s ease;
	border-radius: 20%;
  box-shadow: 2px 2px 5px 1px rgba(175, 175, 175, 0.43);
  position: relative;
  .rounded{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width: 70%;
    height: 70%;
    background: white;
    z-index: 10;
    border-radius: 30%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.23);
    i {
      position: absolute;
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
      font-size: 20px;
    }
  }
  @if $color == 'gold'{
    background: rgb(255,215,0);
    color: gold
  } @else if $color == 'silver'{
    background: #797979;
    color: #797979
  } @else if $color == 'bronze' {
    background: #B08D57;
    color: #B08D57
  } @else if $color == 'forEnd' {
    background: $main-color;
    color: $main-color;
    span{
      position: absolute;
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
      font-size: 20px;
    }
  }

}
@mixin popular-article($color, $width) {
	width: $width;
  height: $width;
  margin-right: 15px;
	display: inline-block;
  top: 0;
  transition: all 0.2s ease;
	border-radius: 20%;
  box-shadow: 2px 2px 5px 1px rgba(175, 175, 175, 0.43);
  position: relative;
  .rounded{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width: 70%;
    height: 70%;
    background: white;
    z-index: 10;
    border-radius: 30%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.23);
    i {
      position: absolute;
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
      font-size: 20px;
    }
  }
  @if $color == 'crimson'{
    background: rgba(220, 20, 60, 1);
    color: rgba(220, 20, 60, 1);
  } @else if $color == 'crimson2'{
    background: rgba(220, 20, 60, .7);
    color: rgba(220, 20, 60, .7);
  } @else if $color == 'crimson3' {
    background: rgba(220, 20, 60, .5);
    color: rgba(220, 20, 60, .5);
  }

}
@mixin form-btn($color) {
    border: none;
    border-radius: 3px;
    height: 40px;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none solid #000;
    transition: all .25s linear;
    @if $color == 'white' {
        background: white;
        color: black;
        border: 2px solid rgb(229, 229, 229);
        &:hover {
            border-color: black;    
        }
    } @else if $color == 'purple' {
        background: black;
        color: white;
        padding: 0 1.125rem;
        opacity: 0;
		&:hover {
            background-image: $btn-purple;
            opacity: 1;
		}
    } @else if $color == 'black' {
        background: rgb(73, 73, 73);
        color: white;
        padding: 0 1.125rem;
        &:hover {
            background: black;
        }
    }
}
