$btn-purple: linear-gradient( to right, #9200b9 8%, #6c23c0 75%, #5600c7 );
$btn-purple-opacity: linear-gradient( 336deg, rgba(146, 0, 185, .7) 8%, rgba(108, 35, 192, .7) 75%, rgba(86, 0, 199, .7) );
$card-bg: linear-gradient(#e66465, #9198e5);
// linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
$main-color: #6c23c0;
$font-bolder: 2.25rem; // 36, 27
$font-bold: 1.5rem; // 24, 18
$font-normal: 1rem; // 16, 12
$font-light: 0.88rem; // 14, 10.5~ 

:root {
    font-size: 16px;
  }

@media screen and (max-width: 640px) {
    :root {
        font-size: 12px;
      }
}
